*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
}
.section-1{
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.856);
    padding: 20px 100px;
    position: relative;
}

.section-1 nav{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section-1 nav .logo{
    color: aliceblue;
}
.section-1 nav ul li{
    list-style: none;
    display: inline-table;
    padding: 20px 30px ;

}
.section-1 nav ul li a{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 15px;
    color: aliceblue;
    text-decoration: none;

}
.section-1 nav ul li a:hover{
    color: brown;
}


.section-1 nav ul li .btn-1{
    border: 2px solid white; 
    background-color: rgba(255, 0, 0, 0.678);
    padding: 9px 15px;
    color: white;
}
.section-1 .container-1{
    display: flex;
    justify-content: space-between;
}
.section-1 .container-1 .contains-1{
    margin-top: 80px;
    position: absolute;
}
.section-1 .container-1 .contains-1{
    font-size: 60px;
}
.section-1 .container-1 .contains-1 .btn-1{
    border: 2px solid white; 
    background-color: rgba(0, 81, 255, 0.808);
    padding: 9px 15px;
    color: white;
    text-decoration: none;
}
.section-1 .container-1 .contains-2 img{
    width: 700px;
    overflow: hidden;
    transform: translate(400px, 0px);
}